.btn{
  display: flex;
      align-items: center;
      font-weight: 900;
      padding: 8px 10px;
      border-radius: 15px;
      border:transparent;
      color:white;
      background-color: #373737;
      opacity:0.8;
      font-size:15px;
}
.btn:hover{
  font-weight: 900;
  cursor:pointer;
  opacity:0;
  border:1px solid whitesmoke;
}
